body {
  background: #FCF7F8;
  color: #5B616A;
  font-family: 'Open Sans', serif;
  font-size: 17px;
  font-weight: lighter;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: #4E4B6C;
  font-size: 32px;
  font-weight: 900;
  margin: -10px 0;
}

h2 {
  color: #686490;
  font-size: 20px;
  font-weight: 500;
}

a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #275DAD;
  font-weight: 600;
  font-size: 16px;
}

a:hover {
  color: black;
}

p {
  margin-bottom: 30px;
}

.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.card-white {
  background: white;
  padding: 45px;
  border: 1px solid lightgrey;
  margin: 20px 0px;
  box-shadow: 2px 2px 8px grey;
}

.container {
  width: 700px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.btn-blue {
    background-color: #275DAD;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 5px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.icon-link-larger {
  font-size: 30px;
}
